.success-page {
    display: none;
}

.closed-page {
    padding-top: 150px;
    display: inherit;
}

::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border-radius: 30px;
}
    ::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
}
::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
body {
    margin: 0;
    background-color: #f6ecea;
    font-family: 'Roboto Condensed', sans-serif;
}
.header {
    display: block;
    position: fixed;
    background-color: #e8b7a6;
    width: 100%;
    padding: 20px;
    height: 80px;
    -webkit-box-shadow:0px -23px 50px 30px #737373 ;
    -moz-box-shadow:0px -23px 50px 30px #737373 ;
    box-shadow:0px -23px 50px 30px #737373 ;
}
.header2 {
    display: block;
    position: fixed;
    background-color: #e8b7a6;
    width: 100%;
    padding: 20px;
    height: 100px;
    -webkit-box-shadow:0px -23px 50px 30px #737373 ;
    -moz-box-shadow:0px -23px 50px 30px #737373 ;
    box-shadow:0px -23px 50px 30px #737373 ;
}
.countdown { 
    display: block;
    position: fixed;
    color: #ffffff;
    width: 100%;
    padding: 0;
    height: 30px;
    top: 110px;
    font-size: 24px;
    text-align: center;
}
.logo {
    height: 80px;
    left: 0;
    position: inherit;
    margin-left: 20px;
}
.logo2 {
    height: 80px;
    right: 0;
    position: inherit;
    margin-right: 20px;
}
.content {
    padding-top: 150px;
}
h1 {
    font-weight: normal;
    font-size: 40px;
}
p {
    margin: 0;
}
h3 {
    font-weight: normal;
    font-size: 60px;
    margin-bottom: 0;
}
h4 {
    font-weight: normal;
    font-size: 25px;
    margin-top: 0;
}
.signature {
    width: 300px;
    height: 79px;
    background-repeat: no-repeat;
    background-image: url("signature.png");
}

/* KREATOR SERDUSZKA */
.heart {
    width: 570px;
    height: 500px;
    background-image: url("heart.png");
    display: inline-block;
    position: static;
    display: table-cell;
    background-repeat: no-repeat;
}
.heart-options {
    display: table-cell;
    position: static;
    width: 570px;
    height: 500px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
.heart-content {
    padding-top: 110px;
}
h2.heart-title {
    margin: 0;
    font-weight: normal;
    font-family: 'Comforter', cursive;
    width: 100%;
    font-size: 40px;
}
h2.heart-text {
    margin: 0;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    font-size: 20px;
}
.options-input {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height: 30px;
    outline: none;
    border:1px solid #8f8f8f;
    width: 80%;
    padding: 5px;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}
.options-textarea {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    outline: none;
    border:1px solid #8f8f8f;
    width: 80%;
    resize: none;
    padding: 5px;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}
.options-range {
    margin-bottom: 10px;
}

/* ADRESOWANIE WALENTYNKI */
.sending-input {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height: 30px;
    outline: none;
    border:1px solid #8f8f8f;
    width: 400px;
    padding: 5px;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}
.sending-input2 {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height: 42px;
    outline: none;
    border:1px solid #8f8f8f;
    width: 61px;
    padding: 5px;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
}
.sending-input3 {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height: 30px;
    outline: none;
    border:1px solid #8f8f8f;
    width: 466px;
    padding: 5px;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    margin-top: 5px;
}
.sending-submit {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color: #e8b7a6;
    outline: none;
    border:1px solid #e8b7a6;
    width: 200px;
    resize: none;
    padding: 5px;
    height: 40px;
    cursor: pointer;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}
.sendcard-button {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color: #e8b7a6;
    outline: none;
    border:1px solid #e8b7a6;
    width: 200px;
    resize: none;
    padding: 5px;
    height: 40px;
    cursor: pointer;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    margin-top: 5px;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {transform: scale(1)}
    50%  {transform: scale(1.25)}
    100% {transform: scale(1)}
  }


/* FORMATOWANIE TABELI */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 40%;
  }

  #customers tr {background-color: #ffffff;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e8b7a6;
    color: white;
  }
.link-button {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color: #6fc95f;
    outline: none;
    border:0px solid;
    resize: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}
.link-button-2 {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color: #858585;
    outline: none;
    border:0px solid;
    resize: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}
.link-button-3 {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color: #e8b7a6;
    outline: none;
    border:0px solid;
    resize: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
}

/* OTWIERANIE WALENTYNKI - ANIMACJA */
@keyframes open-card {
    0%   {opacity: 0}
    25%  {opacity: 1}
    75% {opacity: 1}
    100% {opacity: 0}
  }
.animated-text {
    padding-top: 250px;
    animation-name: open-card;
    animation-duration: 5s;
    animation-iteration-count: 2;
    font-size: 50px;
    opacity: 0;
}
.animated-text-hidden {
    padding-top: 250px;
    display: none;
}